# Ignore junk directories
.*/

# Exclude .github
!.github/

# ignores all .md files
*.md

# does not ignore the README.md file
!README.md

# Trash
.DS_Store

# Dependencies  
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local

# Vercel
.vercel
